{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin - All Transactions{% endblock title %}</title>
</head>
{% block content %}
<body>
    <h1>All Transactions</h1>
    <p> There {{ transactions.count | pluralize:'is, are'}} currently {{ transactions.count }} completed transaction{{ transactions.count | pluralize }}.</p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead  class="text-center">
                <tr>
                    <th>Transaction ID</th>
                    <th>Amount</th>
                    <th>From User</th>
                    <th>To User</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.sender.user.username }}</td>
                    <td>{{ transaction.receiver.user.username }}</td>
                    <td>{{ transaction.created_at | date:"D, d M Y H:i" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
</body>

</html>