{% extends "base.html" %}
{% load currency_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Homepage{% endblock title %}</title>
</head>
<body>
{% block content %}
    {% if user.is_authenticated %}
        <p>
            Welcome, <b>{{ user.username }}</b>, to the FakePal homepage!
        You currently have {{ user.account.currency | currency_symbol}}{{ user.account.balance }}  in your account.<br>
        It is currently <b>{{ timestamp | time:"g:i:s a" }}</b> on the <b>{{ timestamp | date:"D,d F, Y" }}</b>.
        </p>
    {% else %}
        <p>
        Please <a href="{% url 'register:login' %}">login</a> to access the FakePal homepage or <a 
                href="{% url "register:register" %}">register</a> if you don't have an account.
        </p>
    {% endif %}
    
{% endblock content %}
</body>
</html>