{% extends "payapp/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Homepage{% endblock title %}</title>
</head>
<body>
{% block content %}
    {% if user.is_authenticated %}
        <p>
        Welcome, {{ user.username }} to the FakePal homepage!
        You currently have {{ user.account.balance }} {{ user.account.currency | upper}} in your account.
        </p>
    {% else %}
        <p>
        Please <a href="{% url 'login' %}">login</a> to access the FakePal homepage.
        </p>
    {% endif %}
    
{% endblock content %}
</body>
</html>