{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Payment Requests {% endblock title %}</title>
</head>
<body>
{% block content %}
    <h1>Requests</h1>
    <br>
    <h2>Pending Requests</h2>
    <h3>Incoming Requests</h3>
    {% if incoming_requests %}
        <p> You currently have {{ incoming_requests.count }} incoming payment request{{ incoming_requests | pluralize }}:</p>
    <table>
        <tr>
            <th>Request ID</th>
            <th>Amount</th>
            <th>From User</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for request in incoming_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.amount }}</td>
                <td>{{ request.sender.user.username }}</td>
                <td>{{ request.created_at }}</td>
                <td>{{ request.status }}</td>
                {% if request.status == 'pending' %}
                    <td>
                        <form action="{% url 'payapp:accept_request' request.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="amount" value="{{ request.amount }}">
                            <button type="submit">Accept</button>
                        </form>
                        <form action="{% url 'payapp:decline_request' request.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Decline</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>You have no pending incoming payment requests.</p>
    {% endif %}
    <br>
    <h3>Outgoing Requests</h3>
    {% if outgoing_requests %}
        <p> You currently have {{ outgoing_requests.count }} outgoing payment request{{ outgoing_requests | pluralize }}:</p>
    <table>
        <tr>
            <th>Request ID</th>
            <th>Amount</th>
            <th>To User</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        {% for request in outgoing_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.amount }}</td>
                <td>{{ request.receiver.user.username }}</td>
                <td>{{ request.created_at }}</td>
                <td>{{ request.status }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>You have no pending outgoing payment requests.</p>
    {% endif %}
    <br>
    <h2>Completed Requests</h2>
    {% if completed_requests %}
        <p> You currently have {{ completed_requests.count }} completed  payment request{{ completed_requests | pluralize }}:</p>
    <table>
        <tr>
            <th>Request ID</th>
            <th>Amount</th>
            <th>From User</th>
            <th>To User</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        {% for request in completed_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.amount }}</td>
                <td>{{ request.sender.user.username }}</td>
                <td>{{ request.receiver.user.username }}</td>
                <td>{{ request.created_at }}</td>
                <td>{{ request.status }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>You have no completed payment requests.</p>
    {% endif %}
    <br>
<p>Click <a href="{% url 'payapp:make_request' %}">here</a> to make a new request. </p>
{% endblock content %}

</body>
</html>