{% extends 'payapp/../base.html' %}
{% load currency_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Transfers {% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>Transfers</h1>
    {% if transfers %}
        <p>
            You have
            {{ transfers|length }} completed
            transfer{{ transfers|length|pluralize }}.
        </p>
        <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead  class="text-center">
                        <tr>
                            <th>Transfer ID</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>From User</th>
                            <th>To User</th>
                            <th>Transaction Date</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for transfer in transfers %}
                            <tr>
                                <td>{{ transfer.id }}</td>
                                <td>{{ transfer.type |capfirst }}</td>
                                {% if transfer.type == 'request' %}
                                <td>{{ transfer.sender.currency|currency_symbol }}
                                {% else %}
                                <td>{{ transfer.receiver.currency|currency_symbol }}
                                {% endif %}
                                {{ transfer.amount }}</td> <! -- currency filter -->
                                <td>{{ transfer.sender.user.username }}</td>
                                <td>{{ transfer.receiver.user.username }}</td>
                                <td>{{ transfer.created_at | date:"D, d M Y H:i" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
        
    {% else %}
        <p>You have no completed transactions.</p>
    {% endif %}
    
{% endblock %}
</body>
</html>