{% extends 'payapp/../base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Transactions {% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>Transactions</h1>
    {% if transactions %}
        <p>
            You have
            {{ transactions|length }} completed 
            transaction{{ transactions|length|pluralize }}.
        </p>
        <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead  class="text-center">
                        <tr>
                            <th>Transaction ID</th>
                            <th>From User</th>
                            <th>To User</th>
                            <th>Amount</th>
                            <th>Transaction Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.id }}</td>
                                <td>{{ transaction.sender.user.username }}</td>
                                <td>{{ transaction.receiver.user.username }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.created_at | date:"D, d M Y H:i" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
        
    {% else %}
        <p>You have no completed transactions.</p>
    {% endif %}
    
{% endblock %}
</body>
</html>