#customNavbar{
    background-color: #3e86ff !important;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 50px;
    padding: 0;
    position: relative;
    z-index: 1000;
}

.nav-link{
    color: white !important;
}

.nav,
.nav-link:hover{
    color: #cbcbcb !important;
}

.nav-item.dropdown:hover{
    color: #cbcbcb !important;
}

.navbar-brand{
    color: white !important;
}


.dropdown-menu {
    background-color: rgba(62, 134, 255, 0.84)
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #e9ecef;
    color: #212529;
}

.brand-image{
    width: 40px;
    height: 40px;
}

.content {
    flex: 1 0 auto;
        padding-bottom: 60px;
}

footer {
    position: sticky;
    bottom: -5vh;
    width: 100%;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

.btn.link-like-button {
    background: none !important;
    color: white !important;
    border: none !important;
    padding: 0 !important;
    font: inherit !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.btn.link-like-button:hover,
.btn.link-like-button:focus {
    color: #cbcbcb !important;
    text-decoration: none !important;
}

.btn.link-like-button:active,
.btn.link-like-button:visited {
    color: white !important;
    text-decoration: none !important;
}

