/*Navbar*/
#customNavbar{
    background-color: #3e86ff !important;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 50px; /* Set to ensure the navbar is always at least 50px tall */
    padding-bottom: 2vh;
    position: relative;
    z-index: 1000; /* Sets z-index to 1000 to make sure it's on top of everything */
}

.nav-link{
    color: white !important;
}

.nav,
.nav-link:hover{
    color: #cbcbcb !important;
}

.badge.bg-primary{
    background-color: #ff3e3e !important;
}
.nav-item.dropdown:hover{
    color: #cbcbcb !important;
}

.navbar-brand{
    color: white !important;
}


/*Dropdown*/
.dropdown-menu {
    background-color: rgba(79, 142, 255, 0.73);
    animation: slide-down 0.5s ease forwards;
    display: none;
}

/*Add sliding animation to dropdown menus*/
@keyframes slide-down {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #e9ecef;
    color: #212529;
}

.brand-image{
    width: 40px;
    height: 40px;
}

.content {
    flex: 1 0 auto;
        padding-bottom: 60px;
}

/*Footer*/
footer {
    position: sticky;
    bottom: -10vh; /* Negative value to pull it up */
    width: 100%;
    text-align: center;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/*Logout Button - Mimic other items*/
.btn.link-like-button {
    background: none !important;
    color: white !important;
    border: none !important;
    font: inherit !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.btn.link-like-button:hover,
.btn.link-like-button:focus {
    color: #cbcbcb !important;
    text-decoration: none !important;
}

.btn.link-like-button:active,
.btn.link-like-button:visited {
    color: white !important;
    text-decoration: none !important;
}

