{% extends 'payapp/../base.html' %}
{% load crispy_forms_filters %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form-div login">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
                    </div>
                    <p class="text-center">Not yet a member? <a href="{% url 'register' %}">Sign Up</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
</body>