{% extends 'base.html' %}
{% load currency_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin - All Transactions{% endblock title %}</title>
</head>
{% block content %}
    <body>
    <h1>All Transactions</h1>
    <h2>Transfers</h2>
    <p> There {{ transfers.count | pluralize:'is, are' }} currently {{ transfers.count }} completed
        transfer{{ transfers.count | pluralize }}.</p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="text-center">
            <tr>
                <th>Transaction ID</th>
                <th>Amount</th>
                <th>From User</th>
                <th>To User</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody class="text-center">
            {% for transfer in transfers %}
                <tr>
                    <td>{{ transfer.id }}</td>
                    <td>{{ transfer.sender.currency|currency_symbol }}
                        {{ transfer.amount }}</td>
                    <td>{{ transfer.sender.user.username }}</td>
                    <td>{{ transfer.receiver.user.username }}</td>
                    <td>{{ transfer.created_at | date:"D, d M Y H:i" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Requests</h2>
    <p> There {{ requests.count | pluralize:'is, are' }} currently {{ requests.count }}
        request{{ requests.count | pluralize }}.</p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="text-center">
            <tr>
                <th>Request ID</th>
                <th>Status</th>
                <th>Amount</th>
                <th>From User</th>
                <th>To User</th>
                <th>Date</th>

            </tr>
            </thead>
            <tbody class="text-center">

            {% for request in requests %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.status | capfirst }}</td>
                    <td>{{ request.sender.currency|currency_symbol }}{{ request.amount }}</td>
                    <td>{{ request.sender.user.username }}</td>
                    <td>{{ request.receiver.user.username }}</td>
                    <td>{{ request.created_at | date:"D, d M Y H:i" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
</body>

</html>