{% extends 'base.html' %}
{% load group_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin - All Users {% endblock title %}</title>
</head>
<body>
{% block content %}
    <h1>All Users</h1>
    There {% if admins.count|add:users.count == 1 %}is{% else %}are{% endif %} currently {{ admins.count|add:users.count }} 
    user{{admins.count|add:users.count|pluralize }}.
    {{ admins.count }} of which {{ admins.count |pluralize:'is,are' }} admin{{ admins.count|pluralize }}.
    <br>
    <h2>Administrators</h2>
    {% if admins %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead  class="text-center">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Last Login</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for admin in admins %}
                    <tr>
                        <td>{{ admin.user.username }}</td>
                        <td>{{ admin.user.email }}</td>
                        <td>{{ admin.user.last_login }}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
    {% endif %}
    <br>
    {% if users %}
    <h2>Users</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead  class="text-center">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Last Login</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for user in users %}
                    <tr>
                        <td>{{ user.user.username }}</td>
                        <td>{{ user.user.email }}</td>
                        <td>{{ user.user.last_login }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <br>
    <p> To register a new admin, click <a href="{% url 'custom_admin:register' %}">here</a>.</p>
{% endblock %}

</body>
</html>